@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    background: rgb(58, 58, 58);
    font-size: 18px;
}

.container{
    position: fixed;
    width: 100%;
}
.content{  
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: white;
}

.php{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(238, 148, 148);
    border: black;
    text-align: left;
    border-radius: 25px; 
}

.db-menu{
    display: block;
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(88, 88, 88);
    border-radius: 25px;
}

input {
    background-color: #333850;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 7px;
    margin: 10px auto;
    width: 280px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
  }
  